.header {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 1rem;
    background-color: #edefee;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.header__burger {
    cursor: pointer;
    z-index: 3;
}

.nav__item {
    margin-left: 1.5rem;
    color: #495E57;
    font-weight: 700;
}

.nav__item a.nav__link_current {
    color: #333333;
}

/* Menu for big screens */

@media(min-width: 767px) {
    .header__wrapper nav {
        flex-grow: 1;
    }

    .nav__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__item {
        padding: 0.5rem 0;
    }

    .header__burger {
        display: none;
    }
}

/* Animated burger menu for mobile screens */

@media (max-width: 768px) {
    .header__nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background-color: #edefee;
        transition: left 0.3s ease 0s;
        display: flex;
    }

    .header__nav_visible {
        left: 0;
    }

    .nav__list {
        margin: auto;
    }

    .nav__item {
        font-size: 3rem;
        line-height: 6rem;
        text-underline-offset: 0.5rem;
    }

}