.header {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 1rem;
    background-color: #edefee;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    max-width: 90%;
    margin: 0 auto;
}

.header__burger {
    cursor: pointer;
    z-index: 3;
}

.nav__item {
    margin-left: 1.5rem;
    color: #495E57;
    font-weight: 700;
}

@media(min-width: 767px) {
    .header__wrapper nav {
        flex-grow: 1;
    }

    .nav__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__item {
        padding: 0.5rem 0;
    }

    .header__burger {
        display: none;
    }
}