.footer {
    background-color: #495e57;
    color: #edefee;
    padding: 1rem;
}

.footer h5 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.footer__logo {
    max-width: 2rem;
}

.footer__wrapper {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
}

.footer__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer__icon {
    max-height: 1.5rem;
    background-color: #edefee;
    padding: 0.2rem;
    border-radius: 30%;
}

.footer__icon:hover {
    background-color: #f4ce14;
}

@media(min-width:600px) {
    .footer__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:1200px) {
    .footer__wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}